#main {
    width: 75%;
    background-color: #f7f7f7;
}

@media only screen and (max-width: 820px) {
    #main {
        width: 100%;
    }
}

#adminLayout {
    display: flex;
}

nav {
    color: #ff7849;
}

#navBarLeftSection {
    gap: 20px;
}

.outlet {
    background-color: white;
    margin: 30px;
    border-radius: 30px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
}
